/*Base Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: sans-serif;
}

/*Top navigation bar*/

.top-nav-bar {
    position: sticky;
    height: 57px;
    top: 0;
    margin-bottom: 20px;
    background: white;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

fa-search {
    color: white;
}

.form-control {
    margin: 10px 0 0 20px !important;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 0 !important;
}

.input-group-text {
    background: orange;
    border: 5px solid orange !important;
    margin: 8.5px 3px 10px 3px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

/*Menu bar*/

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    list-style: none;
    border-left: 1px solid white;
    padding: 15px 35px;
    background: orange;
    text-align: center;
    cursor: pointer;
}

.menu-bar ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}