/*Base Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: sans-serif;
}

/*Navigation bar*/

.top-nav-bar {
    position: sticky;
    height: 57px;
    top: 0;
    margin-bottom: 20px;
    background: white;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin: 10px 0 0 20px;
    border: 1px solid orange;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
}

/*Menu bar*/

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}